<div class="chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div class="">
    <%= simple_form_for [@chatroom, @message],
      remote: true,
      html: {data:
        {action: "ajax:success->chatroom-subscription#resetForm"},
        } do |f|
    %>
          <%= f.input :content,
            label: false,
            # placeholder: "Message ##{@chatroom.name}",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "Send", class: "btn btn-primary" %>
          <% end %>
  </div>
</div>
