<%= render 'shared/navbar' %>

<div class="d-flex justify-content-around">
  <div class="user-show">
    <div>
      <h1 class="text-dark">Hello <%= current_user.username %></h2>
      <br>
      <h2 class="text-dark">Let the papers fly!</h1>
      <br>
    </div>
    <div>
      <%= link_to "Create game", new_game_path(@game), class: "btn btn-cta mt-3" %>
      <%= link_to "Join game", games_path(@game), class: "btn btn-cta mt-3" %>
    </div>
  </div>
  <div class="user-show">
    <h1 class="text-dark">Games history:</h1>
    <hr>
    <div>
      <% @my_ended_games.each do |game| %>
        <div class="card-history mb-2">
          <%= image_tag game.my_grid(current_user).win? ? "trophy_new.png" : "disappointed-face.png" %>
          <div class="card-history-infos">
            <h3> VS <%= "#{game.opponent_name(current_user)}" %> </h3>
            <p> <%= game.updated_at %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
