<%= render 'shared/navbar' %>

<div class="container">
  <h1 class="mt-3"> Create a new game:</h1>
  <hr>
  <div class="custom-form">
    <div class="col-12 users-search">
      <%= simple_form_for :search, url: new_game_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <%= f.input :username, input_html: { value: @search_term },
            label: false,
            classe: "form-control",
            placeholder: "Find your opponent" %>
          <%= f.submit "Search", class: "btn btn-cta", id:"btn-small" %>
        </div>
      <% end %>
      <%= simple_form_for(@game) do |f| %>
        <div class="game-inline-block">
          <div class="game-info">
            <%= f.submit "Create game", class: "btn btn-cta", id:"btn-small" %>
            <%= f.input :grid_size, label: "Game Mode", as: :range, input_html: { min: '6', max: '14', step: '4', value: '10' } %>
            <div style="display:flex;flex-direction:row;justify-content:space-between;"><p>Easy</p><p>Normal</p><p>Hard</p></div>
            <%#= f.input :desks, label: "Number of desks:", as: :radio_buttons, collection: 2..6 %>
          </div>
          <%# raise %>
          <div class="game-mode-details">
            <h3>Normal mode:</h3>
            <hr>
            <ul>
              <li>Grid size: 10x10</li>
              <li>Office space: 4 desks</li>
                <ul>
                  <li>1 manager desk (3x2)</li>
                  <li>2 employee desk (2x2)</li>
                  <li>1 intern desk (2x1)</li>
                </ul>
            </ul>
          </div>
          <div class="users-list" data-controller="radio-button">
            <h3>Users</h3>
            <% other_users = @users.where.not(id: current_user.id) %>
            <%= f.association :users,
              as: :radio_buttons,
              label: "",
              collection: other_users.map { |user|
                [raw(
                  "<div class='notification btn-cta' >
                    #{user.photo.key.nil? ? image_tag('leader.png', class: 'avatar-large') : cl_image_tag(user.photo.key, class: 'avatar-large')}
                    <div class='notification-content'>
                      <p>#{user.username}</p>
                    </div>
                  </div>"
                  ), user.id
                ] #if user != current_user
              },
              item_label_class: "mb-0",
              input_html: {
                class: "sr-only",
                data: {
                  action: "radio-button#toggleCheckedClass",
                  radio_button_target: "radioBtn"
                }
              },
              wrapper_class: "horizontal-scroll py-0",
              item_wrapper_class: "col-7 col-md-5 col-lg-3 custom--media__miniature text-center" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
