<%= render 'shared/navbar' %>

<div class="container">
  <h2> Create a game</h2>
  <hr>

  <%= simple_form_for(@game) do |f| %>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>Choose your opponent</p>
        <%= form_tag users_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            classe: "form-control",
            placeholder: "Type your opponent username" %>
          <%= submit_tag "Search", class: "btn btn-gradient" %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <div>
      <%= f.submit "Create your game", class: "btn btn-gradient" %>
      </div>
      <%= f.association :users, include_hidden: false, :label_method => lambda { |user| "#{user.username}" } %>
    </div>
  <% end %>
</div>
