<%= render 'shared/navbar' %>

<div class="container">
  <h2> Create a new game</h2>
  <hr>
  <div class="custom-form">
    <div class="wrapper">
      <div class="col-12 users-search">
        <%= simple_form_for :search, url: new_game_path, method: :get do |f| %>
          <div class="search-form-control form-group">
            <%= f.input :username, input_html: { value: @search_term },
              label: false,
              classe: "form-control",
              placeholder: "Type a username" %>
            <%= f.submit "Search", class: "btn btn-flat" %>
          </div>
        <% end %>
      </div>
      <%= simple_form_for(@game) do |f| %>
        <%= f.submit "Create your game", class: "btn btn-gradient" %>
        <div class="game-inline-block">
          <div class="game-info">
            <%= f.input :grid_size, label: "Please enter the grid size:" %>
            <%= f.input :desks, label: "Please select the number of desks:", as: :radio_buttons, collection: 2..6 %>
          </div>
          <div class="users-list" data-controller="radio-button">
            <%= f.association :users,
              as: :radio_buttons,
              label: "Choose your opponent",
              collection: @users.map { |user|
                [raw(
                  "<div class='notification'>
                    #{user.photo.key.nil? ? image_tag('leader.png', class: 'avatar-large') : cl_image_tag(user.photo.key, class: 'avatar-large')}
                    <div class='notification-content'>
                      <p>#{user.username}</p>
                    </div>
                  </div>"
                  ), user.id
                ]
              },
              item_label_class: "mb-0",
              input_html: {
                class: "sr-only",
                data: {
                  action: "radio-button#toggleCheckedClass",
                  radio_button_target: "radioBtn"
                }
              },
              wrapper_class: "horizontal-scroll py-0",
              item_wrapper_class: "col-7 col-md-5 col-lg-3 custom--media__miniature text-center" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
