<%= render 'shared/navbar' %>

<div class="container">
  <h2> Create a new game</h2>
  <hr>
    <p>Choose your opponent</p>
  <div class="custom-form">
    <div class="col-4">
      <%= simple_form_for :search, url: new_game_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <%= f.input :username, input_html: { value: @search_term },
            label: false,
            classe: "form-control",
            placeholder: "Type a username" %>
          <%= f.submit "Search", class: "btn btn-flat" %>
        </div>
      <% end %>
    </div>
 
  <div class="">
    <div class="col-4">
      <%= simple_form_for(@game) do |f| %> 
        <div>  
          <%= f.submit "Create your game", class: "btn btn-gradient" %>
        </div>

        <div class="">
          <%= f.association :users,
              as: :radio_buttons,
              label: "",
              collection: @users.map { |user|
                [raw(
                  "<div class='notification'>
                    #{user.photo.key.nil? ? image_tag('leader.png', class: 'avatar-large') : cl_image_tag(user.photo.key, class: 'avatar-large')}
                    <div class='notification-content'>
                      <p>#{user.username}</p>
                    </div>
                  </div>"
                  ), user.id
                ]
              },
              item_label_class: "mb-0",
              wrapper_class: "horizontal-scroll py-0",
              item_wrapper_class: "col-7 col-md-5 col-lg-3 custom--media__miniature text-center" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



