cell<%= render 'shared/navbar' %>
<div class="container chat-game" data-controller="game-subscription" data-game-subscription-game-id-value="<%= @game.id %>">

  <%= render 'chatrooms/chatroom' %>

  <div class="game-platform">
    <div class="game-grid user-grid">

      <h2><%= @grid_current_user.user.username %></h2>

      <div data-game-subscription-target="leftphrase">
        <%= render "partials/phrases", left_grid: @grid_current_user, right_grid: @grid_opponent %>
      </div>

      <div data-game-subscription-target="user">
        <%= render 'partials/grid', left_grid: @grid_current_user, right_grid: @grid_opponent, visible: true, grid_cells: @cells_current_user %>
      </div>

      <p>  Your hits: <%= @grid_opponent.hit_count %>  </p>

    </div>


    <div class="game-grid opponent-grid">

      <h2><%= @grid_opponent.user.username %></h2>
      <p> ...</p>

      <div data-game-subscription-target="opponent">
        <%= render 'partials/grid', left_grid: @grid_opponent, right_grid: @grid_current_user, visible: false, grid_cells: @cells_opponent %>
      </div>

      <p>  Opponent hits: <%= @grid_current_user.hit_count %></p>

    </div>

  </div>

  <div data-game-subscription-target="button">
    <%= render "partials/button", game: @game %>
  </div>

</div>
