<%= render 'shared/navbar' %>
<div class="container">
  <%= link_to "Quit game", quit_game_path(@game), method: :patch, class: "btn btn-gradient" %>
  <div class="game-platform">
    <div class="game-grid user-grid">
      <h2><%= @grid_current_user.user.username %></h2>
      <p><%= @grid_current_user.playing ? "..." : "Wait your turn!" %></p>
      <%= render 'grids/grid', cells: @cells_current_user, grid: @grid_current_user %>
    </div>
    <div class="game-grid opponent-grid">
      <h2><%= @grid_opponent.user.username %></h2>
      <p><%= @grid_opponent.playing ? "...." : "Please play in this grid!" %></p>
      <%= render 'grids/grid', cells: @cells_opponent, grid: @grid_opponent %>
    </div>
  </div>
</div>
